* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #219ebc;
  --secondary: #023047;
  --highlight: #ffb703;
  --orange: #d62828;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: var(--primary);
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
  padding: 0.5rem;
}

article {
  padding: 2rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  color: var(--highlight);
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

input {
  padding: 0.5rem;
  font-size: 1.1rem;
}

input::placeholder {
  font-family: 'MedievalSharp', cursive;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
}

.hide {
  display: none;
}

#main-header {
  background-color: var(--secondary);
  color: #fff;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#logo {
  color: white;
  font-family: 'MedievalSharp', cursive;
}

.greeting {
  color: black;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.25rem;
  padding: 1rem 3rem;
  display: block;
  width: 90%;
  margin: 1rem auto 0;
  background-image: url('../img/paper.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
}

.highlight-text {
  color: blueviolet;
  text-transform: uppercase;
}

#leaderboard {
  flex: 1;
  max-width: 600px;
}

#leaderboard header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

#refresh-btn {
  width: 3rem;
  height: 3rem;
  background: url('../img/refresh_btn.png') no-repeat bottom left 100% / 100%;
  image-rendering: pixelated;
  border: none;
}

#refresh-btn:active {
  background-image: url('../img/refresh_click.png');
}

#score-container {
  background-image: url('../img/paper_board.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  image-rendering: pixelated;
  padding: 3em;
  height: 20rem;
}

#score-list {
  list-style: none;
  height: 100%;
  overflow-y: scroll;
  font-size: 1.3em;
  font-weight: 600;
  font-family: 'MedievalSharp', cursive;
  min-width: 280px;
}

.score-item {
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.score-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

#form-container {
  padding: 3rem 1rem;
}

#form-container h2 {
  text-align: center;
}

#score-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  margin: auto;
  padding: 1rem;
  gap: 0.5rem;
  position: relative;
}

#noti {
  background-color: bisque;
  text-align: center;
  color: black;
  border: solid 2px brown;
  border-radius: 4px;
  position: absolute;
  font-size: 0.7rem;
  padding: 0.5rem;
  width: 100%;
  bottom: -20px;
  left: 0;
}

#submit-btn {
  align-self: flex-end;
  width: 10rem;
  height: 5rem;
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
  font-family: 'Press Start 2P', cursive;
  background: url('../img/btn.png') no-repeat bottom left 100%/100%;
  image-rendering: pixelated;
  border: none;
  color: white;
}

#submit-btn:active {
  padding-top: 0.75rem;
  background-image: url('../img/btn_click.png');
}

.input-group {
  background-image: url('../img/wood_board.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  image-rendering: pixelated;
  padding: 4rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  #main-header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
    align-items: center;
  }
}
